/* colours used: 

font: #000000
background: #ffffff
primary green (mobile menu): #317B22
secondary green: #045045
tertiary green (underline): #32521A

*/

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background: #ffffff;
    font-size: 1em;
}


h1 {
    font-family: 'Dosis', sans-serif;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 2em;
    background-color: #317B22;
}

h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #000;
    font-size: 2em;
}

input {
    background-image: linear-gradient(-90deg, #b0fe76, #81e979);
    outline-color: green;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(-90deg, #b0fe76, #81e979);
    overflow: auto;
    outline-color: green;
    height: 100px;
    width: 50%;
}

label {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

/* end of general style */

/* navbar collapsed, visible only on mobile */

.navbar {
    background: #317B22;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
}

h1.desktop {
    display: none;
}


button.navbarbutton {
    font-size: 30px;
    border: 0px;
    background: #317B22;
    color: #ffffff;
}

.navdesktop,
#menu {
    background: lightgray;
    background-image: url("mobile-menu-fern.jpg");
background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    text-align: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    margin: 0 auto;
    float: left;
    z-index: 1;
    display: none;
    font-size: 1.2em;
}

.overlay {
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(129, 233, 121, 0.65);
    z-index: -2;
}

.menulist {
    z-index: 1;
}

li>a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #32521A;

}

li>a:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #32521A;

}

/* img > nav:hover .navdesktop {
    background-color: #fff;
    display: block;
}

button.closebutton {
    position: relative;
    top: 20px;
    left: 5px;
}

button.closebutton:hover .navdesktop {
    background-color: #fff;
    display: none;
}*/

/* add a collapsing button */

/*mobile end*/

/* default menu desktop, commented out to test mobile behaviour
.navdesktop {
    background: pink;
    background-image: url("https://cdn.shopify.com/s/files/1/0150/6262/products/the-sill_snake-plant-slaurentii_terracotta_4_800x.jpg?v=1537308389");
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: left;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    z-index: 1;
}   desktop menu end*/

.navdesktop ul {
    list-style: none;
    padding: 0 0 0 0;
}

.menulink {
    display: block;
    position: relative;
    left: 0px;
    right: 0;
    line-height: 45px;
    text-align: left;
    padding-left: 30px;
}

.menucategory {
    color: #045045;
    line-height: 45px;
    padding-left: 15px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}



/* content now */

.content {
    max-width: 100%;
    position: absolute;
    top: 15px;
    padding: 5px 5px;
}


.plantcontainer {
    min-height: 80px;
    margin: 10px;
    padding: 10px;
    border: solid 0px lightgray;
    overflow: hidden;
}


img.plantcontainer {

    height: 50px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    padding: 0 0 0 0;
    margin-right: 55px;
}

img.icon {
    border: 0;
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.divider {
    width: 75px;
    height: 1px;
    border: 0;
    background-color: #595A4A;
    margin: 0 auto;
}

.plantcontainer>a {
    font-weight: bold;
}

.intro {
    margin-bottom: 20px;
    margin-top: 15px;
}

/* media queries */

/* tablet */

@media (min-width:768px) and (max-width: 1280px) {


    img.plantcontainer {
        display: block;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        float: left;

    }
    .plants {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
    }
    div.plantcontainer {
        min-height: 100px;
        max-width: 200px;
        margin: 10px;
        padding: 10px;
        border: 0px;
        overflow: hidden;
    }


.divider {
    display: none;
}


.intro {
    margin-bottom: 20px;
}


}

/* desktop */

@media (min-width:1280px) {
    /* desktop menu */
    .navbar {
        display: none;
    }

    .navdesktop,
    #menu {
        display: block;
        background: pink;
        background-image: url("menu-spider-plant.png");
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        width: 350px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        float: left;
        z-index: 3;

    }



    /* desktop menu end */
    h1.desktop {
        display: block;
        position: relative;
        top: 0px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 33px;
        color: #000;
    }
    h1.mobile {
        display: none;
    }
    .content {
        padding-top: 0px;
        padding-left: 370px;
        padding-right: 20px;
    }

    img.plantcontainer {
        display: inline-block;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .plants {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
    }
    div.plantcontainer {
        min-height: 100px;
        max-width: 200px;
        margin: 10px;
        padding: 10px;
        border: 0px;
        overflow: hidden;

    }
    .divider {
        display: none;
    }

    .intro {
        margin-bottom: 33px;
    }
}
