/* general style */

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background: #ffffff;
    font-size: 1em;
    margin: 0px;
}


h1 {
    font-family: 'Dosis', sans-serif;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 2em;
    background-color: #317B22;
}

h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #000;
    font-size: 2em;
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* general style ends */

/* mobile menu */

.navbar {
    background: #317B22;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
}

h1.desktop {
    visibility: hidden;
}


button.navbarbutton {
    font-size: 30px;
    border: 0px;
    background: #317B22;
    color: #ffffff;
}

.navdesktop,
#menu {
    background: lightgray;
    background-image: url("mobile-menu-fern.jpg");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    text-align: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    margin: 0 auto;
    float: left;
    z-index: 1;
    display: none;
    font-size: 1.2em;
}

.overlay {
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(129, 233, 121, 0.65);
    z-index: -2;
}

.menulist {
    z-index: 1;
    padding-top: 15px;
}

/* below style for menu links and links in the content different than these in div.plantcontainer */

li>a,
.content a,
.seemore {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #32521A;

}

li>a:hover,
.content a:hover,
.seemore:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #32521A;

}

/* end of link styles */

/* mobile menu ends */

/* menu list style */

.navdesktop ul {
    list-style: none;
    padding: 0 0 0 0;
}

.menulink {
    display: block;
    position: relative;
    left: 0px;
    right: 0;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 30px;
}

.homemenulink {
    padding-left: 15px;
    margin-bottom: 20px;
}

.menucategory {
    color: #045045;
    line-height: 45px;
    padding-left: 15px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

/* menu list style ends */

/* content style */

.content {
    max-width: 100%;
    /*position: absolute;*/
    top: 15px;
    padding: 10px 15px;
}


.plantcontainer {
    min-height: 80px;
    margin: 10px;
    padding: 10px;
    border: solid 0px lightgray;
    overflow: hidden;
}


img.plantcontainer {
    height: 50px;
    display: block;
    border-radius: 50%;
    float: left;
    padding: 0 0 0 0;
    margin-right: 55px;
    border: 0px;
}

.plantcontainer>a {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #045045;
    border-bottom: 0px solid #045045;
}

.plantcontainer>a:hover,
.plantcontainer>a:active {
    color: #317B22;
    border-bottom: 0px;
}

img.icon {
    border: 0;
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.divider {
    width: 75px;
    height: 1px;
    border: 0;
    background-color: #595A4A;
    margin: 0 auto;
}

.plantcontainer>a {
    font-weight: bold;
}

.intro {
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 20px;
}

.explain {
    padding-left: 10%;
}

/* content style ends */

/* contact page */

input {
    background-image: linear-gradient(-90deg, #b0fe76, #81e979);
    outline-color: green;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(-90deg, #b0fe76, #81e979);
    overflow: auto;
    outline-color: green;
    width: 100%;
}

label {
    display: block;
    text-align: center;
}

/* button style */

.contactform {
    background-image: linear-gradient(-90deg, #b0fe76, #81e979);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}


.sociallinks {
    margin-top: 33px;
}

.sociallinks a,
.sociallinks a:hover {
    border-bottom: 0px;
}

img.social {
    background-image: linear-gradient(-90deg, #b0fe76, #81e979);
    width: 50px;
    height: 50px;
}

/* contact page ends */

/* ------------------------ MEDIA QUERIES ------------------------ */

/* tablet */

@media (min-width:768px) and (max-width: 1280px) {



    img.plantcontainer {
        display: block;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        float: left;

    }
    .plants {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
    }
    div.plantcontainer {
        min-height: 100px;
        max-width: 200px;
        margin: 10px;
        padding: 10px;
        border: 0px;
        overflow: hidden;
    }


    .divider {
        display: none;
    }


    .intro {
        margin-bottom: 20px;
    }


}

/* desktop */

@media (min-width:1280px) {

    /* desktop menu */
    .navbar {
        display: none;
    }

    .navdesktop,
    #menu {
        display: block;
        background: white;
        background-image: url("menu-spider-plant.png");
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        width: 350px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        float: left;
        z-index: 3;

    }

    /* desktop menu ends */
    h1.desktop {
        background-color: #5ab946;
        display: block;
        visibility: visible;
        position: relative;
        top: 0px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: 2.5em;
        color: #fff;
    }

    h1.mobile {
        display: none;
    }

    /* content position */
    .content {
        padding-top: 0px;
        margin-left: 340px;
        padding-right: 0px;
        padding-left: 10px;
    }

    .intro,
    h2 {
        padding: 0px 25px;
    }


    .plants {
        padding: 0px 25px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
    }

    img.plantcontainer {
        display: inline-block;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        float: none;
    }

    div.plantcontainer {
        min-height: 100px;
        max-width: 200px;
        margin: 25px 10px 30px 10px;
        padding: 10px;
        border: 0px;
        overflow: hidden;

    }
    .divider {
        display: none;
    }

    .intro {
        margin-bottom: 33px;
    }

    /* contact page style */
    .contact {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
    }

    input,
    textarea {
        width: 80%;
    }

    /* button style */
    .contactform {
        width: 33%;
    }

}
